<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">CourseApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-time">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-time">
                <a asp-controller="Course" asp-action="List" class="nav-link">kurslar</a>
            </li>
        </ul>
    </div>
</nav>