@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Employees";
}
<h1>Edit</h1>
<form method="post">
    <input type="hidden" asp-for="Employee.Id">
    <div class="row mb-3">
        <label asp-for="Employee.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Email">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Employee.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Name">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Employee.photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.photo">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Employee.Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Department">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/Employees/Index" class="btn btn-primary">Cancel</a>
</form>